#sofa {
  position: absolute;
  top: 320px;
  left: 500px;
  opacity: 0;
  transition: opacity 1s;

}

#flower {
  position: absolute;
  top: 450px;
  left: 150px;
  opacity: 0;
  transition: opacity 1s;

}

#player {
  position: absolute;
  top: 200px;
  left: 300px;
  transition: left 1s;
}
